.container {
    margin-bottom:20px;
     margin-top:20px;
     display: flex;
     flex-direction: row-reverse;
   }
   .container > .image {
     flex: 1 0 0%;
   }
   .image > img {
     display: block;
     max-width: 100%;
     max-height: 300px;
   }
   .container > .text {
     flex: 2 0 0%;
   }
   .divider {
     flex-grow: 1;
     border-bottom: 0.5px solid gray;
     margin-right:96px;
   }
   .category-text{
    margin:0;
    padding:2px;
    color: #0059bf;
    font-size: 14px;   
   }
   .heading-text{
    margin:0;
    padding:2px;
    color: #000000;
    font-size: 24px;   
   }
   .stand-first-text{
    margin:0;
    padding:2px;
    color: #606669;
    font-size: 16px;   
   }